@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

:root {
    --colourBgHeader: #321224;
    --colourBgNav: #9A011D;
    --colourBgComplementary: #FFFAF0;
    --colourCardHeader: #520936;
    --colourText: #060503;
    --colourAccent: #FAFBD0;

    --fontHeadline: "Newsreader", "Times New Roman", Times, serif;
    --fontMain: Arial, Helvetica, sans-serif;
}